In [2]:
import numpy as np
import pandas as pd

In [4]:
dataset = pd.read_csv("USBC-BankruptcyFilings-2023-03.csv")
dataset

,Unnamed: 0,Unnamed: 1,Ch. 7,Unnamed: 3,Unnamed: 4,Unnamed: 5,Ch.11,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Ch..13,Unnamed: 16,Unnamed: 17,All,Unnamed: 19,Unnamed: 20,Cumm,Unnamed: 22
0,Month/,Ch7,%,Ch.7,%,Ch11,%,Ch.11,%,Ch.12,...,Ch.13,%,Ch.13,%,3.0,All Ch.,%,Cumm,%,Prior
1,Year,Month,Prior,Yr.to,Prior,Month,Prior,Yr.to,Prior,Month,...,Month,Prior,Yr.to,Prior,0.0,Month,Prior,Year,Prior,Year
2,NaN,Total,Year,Date,Year,Total,Year,Date,Year,Total,...,Total,Year,Date,Year,4.0,Total,Year,to date,Year,Diff.
3,Jan-14,268,1%,268,1%,18,-28%,18,-28%,0,...,420,-6%,420,-6%,NaN,706,-4%,706,-4%,-33
4,Jan-15,277,3%,277,3%,8,-56%,8,-56%,3,...,407,-3%,407,-3%,NaN,695,-2%,695,-2%,-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,Dec-18,244,4%,3263,2%,7,250%,114,-4%,5,...,397,45%,4304,1%,NaN,653,28%,7698,1%,94
127,Dec-19,225,-8%,2875,-12%,7,0%,87,-24%,2,...,385,-3%,4693,9%,NaN,619,-5%,7670,0%,-28
128,Dec-20,194,-14%,2269,-21%,2,-71%,30,-66%,0,...,257,-33%,2815,-40%,NaN,453,-27%,5118,-33%,-2552
129,Dec-21,113,-42%,1564,-31%,2,0%,40,33%,0,...,181,-30%,2254,-20%,NaN,296,-35%,3863,-25%,-1255
130,Dec-22,115,2%,1320,-16%,2,0%,49,23%,2,...,221,22%,2431,8%,NaN,340,15%,3811,-1%,-52

Data de Quiebra por capitulo 7

In [5]:
datach7 = dataset[['Unnamed: 0', 'Unnamed: 1', 'Ch. 7','Unnamed: 3', 'Unnamed: 4']]
datach7.rename(columns={'Unnamed: 0': 'Date', 'Unnamed: 1': 'Ch7 MonthTotal', 'Ch. 7':'% Prior Year','Unnamed: 3':'Ch7 YrtoDate','Unnamed: 4':'% Prior Year'}, inplace=True)
datach7 = datach7.drop(index = [0,1,2])
dia=datach7[['Date']]
datach7

<ipython-input-5-5267d2564d5c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datach7.rename(columns={'Unnamed: 0': 'Date', 'Unnamed: 1': 'Ch7 MonthTotal', 'Ch. 7':'% Prior Year','Unnamed: 3':'Ch7 YrtoDate','Unnamed: 4':'% Prior Year'}, inplace=True)

       Date Ch7 MonthTotal % Prior Year Ch7 YrtoDate % Prior Year
3    Jan-14            268           1%          268           1%
4    Jan-15            277           3%          277           3%
5    Jan-16            279           1%          279           1%
6    Jan-17            255          -9%          255          -9%
7    Jan-18            237          -7%          237          -7%
..      ...            ...          ...          ...          ...
126  Dec-18            244           4%         3263           2%
127  Dec-19            225          -8%         2875         -12%
128  Dec-20            194         -14%         2269         -21%
129  Dec-21            113         -42%         1564         -31%
130  Dec-22            115           2%         1320         -16%

[128 rows x 5 columns]

Data de Quiebra por capitulo 11

In [6]:
datach11 = dataset[['Unnamed: 5', 'Ch.11', 'Unnamed: 7','Unnamed: 8']]
datach11.rename(columns={'Unnamed: 5': 'Ch11 MonthTotal', 'Ch.11':'% Prior Year','Unnamed: 7':'Ch.11 YrtoDate','Unnamed: 8':'% Prior Year'}, inplace=True)
datach11 = datach11.drop(index = [0,1,2])
datach11.insert(loc=0, column='Date',value=dia)
datach11

<ipython-input-6-bd0d2dc0fb9b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datach11.rename(columns={'Unnamed: 5': 'Ch11 MonthTotal', 'Ch.11':'% Prior Year','Unnamed: 7':'Ch.11 YrtoDate','Unnamed: 8':'% Prior Year'}, inplace=True)

       Date Ch11 MonthTotal % Prior Year Ch.11 YrtoDate % Prior Year
3    Jan-14              18         -28%             18         -28%
4    Jan-15               8         -56%              8         -56%
5    Jan-16              24         200%             24         200%
6    Jan-17              16         -33%             16         -33%
7    Jan-18              11         -31%             11         -31%
..      ...             ...          ...            ...          ...
126  Dec-18               7         250%            114          -4%
127  Dec-19               7           0%             87         -24%
128  Dec-20               2         -71%             30         -66%
129  Dec-21               2           0%             40          33%
130  Dec-22               2           0%             49          23%

[128 rows x 5 columns]

Data de Quiebra por capitulo 12

In [7]:
datach12 = dataset[['Unnamed: 9',  'Ch.12','Unnamed: 11','Unnamed: 12']]
datach12.rename(columns={'Unnamed: 9': 'Ch12 MonthTotal', 'Ch.12':'% Prior Year','Unnamed: 11':'Ch.12 YrtoDate','Unnamed: 12':'% Prior Year'}, inplace=True)
datach12 = datach12.drop(index = [0,1,2])
datach12.insert(loc=0, column='Date',value=dia)
datach12

<ipython-input-7-085fa20e5757>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datach12.rename(columns={'Unnamed: 9': 'Ch12 MonthTotal', 'Ch.12':'% Prior Year','Unnamed: 11':'Ch.12 YrtoDate','Unnamed: 12':'% Prior Year'}, inplace=True)

       Date Ch12 MonthTotal % Prior Year Ch.12 YrtoDate % Prior Year
3    Jan-14               0        -100%              0        -100%
4    Jan-15               3           0%              3           0%
5    Jan-16               4          33%              4          33%
6    Jan-17               1         -75%              1         -75%
7    Jan-18               1           0%              1           0%
..      ...             ...          ...            ...          ...
126  Dec-18               5         400%             17          31%
127  Dec-19               2         -60%             15         -12%
128  Dec-20               0        -100%              4         -73%
129  Dec-21               0           0%              5          25%
130  Dec-22               2           0%             11         120%

[128 rows x 5 columns]

Data de Quiebra por capitulo 13

In [8]:
datach13 = dataset[['Unnamed: 13', 'Unnamed: 14', 'Ch..13','Unnamed: 16', 'Unnamed: 17']]
datach13.rename(columns={'Unnamed: 13': 'Ch13 MonthTotal', 'Unnamed: 14':'% Prior Year','Ch..13':'Ch.13 YrtoDate','Unnamed: 16':'% Prior Year'}, inplace=True)
datach13 = datach13.drop(index = [0,1,2])
datach13.insert(loc=0, column='Date',value=dia)
datach13

<ipython-input-8-bff5017645e0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datach13.rename(columns={'Unnamed: 13': 'Ch13 MonthTotal', 'Unnamed: 14':'% Prior Year','Ch..13':'Ch.13 YrtoDate','Unnamed: 16':'% Prior Year'}, inplace=True)

,Date,Ch13 MonthTotal,% Prior Year,Ch.13 YrtoDate,% Prior Year,Unnamed: 17
3,Jan-14,420,-6%,420,-6%,NaN
4,Jan-15,407,-3%,407,-3%,NaN
5,Jan-16,409,0%,409,0%,NaN
6,Jan-17,354,-13%,354,-13%,NaN
7,Jan-18,298,-16%,298,-16%,NaN
...,...,...,...,...,...,...
126,Dec-18,397,45%,4304,1%,NaN
127,Dec-19,385,-3%,4693,9%,NaN
128,Dec-20,257,-33%,2815,-40%,NaN
129,Dec-21,181,-30%,2254,-20%,NaN
130,Dec-22,221,22%,2431,8%,NaN

Data de todas las Quiebras

In [ ]:
datacumm = dataset[['All', 'Unnamed: 19', 'Unnamed: 20', 'Cumm', 'Unnamed: 22']]
datacumm.rename(columns={'All': 'All Ch MonthTotal', 'Unnamed: 19':'% Prior Year','Unnamed: 20':'Cumm YrtoDate','Cumm':'% Prior Year', 'Unnamed: 22':'Prior Year Diff'}, inplace=True)
datacumm = datacumm.drop(index = [0,1,2])
datacumm.insert(loc=0, column='Date',value=dia)
datacumm

<ipython-input-33-0ee4bf18c500>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datacumm.rename(columns={'All': 'All Ch MonthTotal', 'Unnamed: 19':'% Prior Year','Unnamed: 20':'Cumm YrtoDate','Cumm':'% Prior Year', 'Unnamed: 22':'Prior Year Diff'}, inplace=True)

,Date,All Ch MonthTotal,% Prior Year,Cumm YrtoDate,% Prior Year,Prior Year Diff
3,Jan-14,706,-4%,706,-4%,-33
4,Jan-15,695,-2%,695,-2%,-11
5,Jan-16,716,3%,716,3%,21
6,Jan-17,626,-13%,626,-13%,-90
7,Jan-18,547,-13%,547,-13%,-79
...,...,...,...,...,...,...
126,Dec-18,653,28%,7698,1%,94
127,Dec-19,619,-5%,7670,0%,-28
128,Dec-20,453,-27%,5118,-33%,-2552
129,Dec-21,296,-35%,3863,-25%,-1255
130,Dec-22,340,15%,3811,-1%,-52

Número de Personas Desempleadas por Municipio o Área desde Agosto 2000 a Agosto 2020

In [10]:
datasetPersDespl = pd.read_csv("PersonasDesempleadasporMunicipiooArea.csv",encoding='iso8859_3')
datasetPersDespl = datasetPersDespl.drop(index = [0])
datasetPersDespl.drop(datasetPersDespl.tail(295).index,inplace = True)
datasetPersDespl

,Date,Puerto Rico SA,Puerto Rico NSA,Adjuntas NSA,Aguada NSA,Aguadilla NSA,Aguas Buenas NSA,Aibonito NSA,Añasco NSA,Arecibo NSA,...,"Coco, Salinas, PR MicroSA NSA","Jayuya, PR MicroSA NSA","Santa Isabel, PR MicroSA NSA","Aguadilla-Isabela, PR MSA NSA","Arecibo, PR MSA NSA","Guayama, PR MSA NSA","Mayaguez, PR MSA NSA","Ponce, PR MSA NSA","San Germán, PR MSA NSA","San Juan-Carolina-Caguas, PR MSA NSA"
1,2020-08,86123,88480,417.0,978.0,1261.0,594.0,517.0,642.0,1974.0,...,669.0,304.0,570.0,7372.0,4216.0,1523.0,2075.0,7589.0,2888.0,59237.0
2,2020-07,87804,75757,348.0,854.0,1115.0,516.0,451.0,547.0,1767.0,...,560.0,253.0,474.0,6410.0,3728.0,1320.0,1812.0,6437.0,2418.0,50612.0
3,2020-06,92311,90194,395.0,1058.0,1307.0,629.0,527.0,671.0,2167.0,...,648.0,282.0,515.0,7708.0,4555.0,1582.0,2225.0,7538.0,2878.0,60277.0
4,2020-05,93122,97038,435.0,1220.0,1397.0,673.0,545.0,741.0,2352.0,...,694.0,267.0,530.0,8660.0,5078.0,1677.0,2610.0,8563.0,3455.0,63425.0
5,2020-02,92713,80739,763.0,1096.0,1232.0,550.0,583.0,689.0,2054.0,...,876.0,515.0,744.0,9190.0,5368.0,2375.0,2316.0,9982.0,3431.0,43319.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2000-12,127800,114426,567.0,1687.0,2401.0,730.0,802.0,1000.0,3058.0,...,998.0,495.0,820.0,12488.0,6030.0,2609.0,3816.0,12913.0,4469.0,67176.0
236,2000-11,124955,114038,516.0,1686.0,2348.0,734.0,773.0,980.0,3157.0,...,1036.0,504.0,850.0,12382.0,6165.0,2664.0,3864.0,12974.0,4548.0,66478.0
237,2000-10,123946,127720,560.0,1853.0,2616.0,818.0,850.0,1032.0,3493.0,...,1119.0,589.0,932.0,13738.0,6817.0,2975.0,4252.0,14430.0,5014.0,75071.0
238,2000-09,124514,123815,550.0,1842.0,2562.0,780.0,819.0,1145.0,3423.0,...,1116.0,563.0,911.0,13609.0,6581.0,2991.0,4314.0,13971.0,5083.0,71936.0
239,2000-08,126337,143362,660.0,2079.0,2987.0,934.0,983.0,1290.0,3814.0,...,1280.0,647.0,1060.0,15789.0,7525.0,3391.0,4891.0,16082.0,6004.0,83476.0

Tasa de Desempleo por Municipio o Área desde Agosto 2000 a Agosto 2020

In [11]:
datasetTasaDespl = pd.read_csv("TasadeDesempleoporMunicipiooArea.csv",encoding='iso8859_3')
datasetTasaDespl = datasetTasaDespl.drop(index=[0])
datasetTasaDespl.drop(datasetTasaDespl.tail(293).index,inplace = True)

datasetTasaDespl

,Date,Puerto Rico SA,Puerto Rico NSA,Adjuntas NSA,Aguada NSA,Aguadilla NSA,Aguas Buenas NSA,Aibonito NSA,Añasco NSA,Arecibo NSA,...,"Coco, Salinas, PR MicroSA NSA","Jayuya, PR MicroSA NSA","Santa Isabel, PR MicroSA NSA","Aguadilla-Isabela, PR MSA NSA","Arecibo, PR MSA NSA","Guayama, PR MSA NSA","Mayaguez, PR MSA NSA","Ponce, PR MSA NSA","San Germán, PR MSA NSA","San Juan-Carolina-Caguas, PR MSA NSA"
1,8/1/2020,8.3,8.4,10.8,8.7,9.1,9.5,8.5,7.6,8.3,...,10.1,7.9,7.7,9.1,8.1,8.2,8.1,8.6,8.8,8.3
2,7/1/2020,8.5,7.3,9.4,7.6,8.1,8.3,7.5,6.6,7.5,...,8.6,6.8,6.8,8.0,7.2,7.2,7.1,7.4,7.5,7.1
3,6/1/2020,8.9,8.5,10.4,9.2,9.3,9.9,8.7,7.9,9.0,...,9.9,7.4,6.5,9.4,8.7,8.4,8.6,8.5,8.7,8.3
4,5/1/2020,9.0,9.6,11.7,11.1,10.5,11.1,9.4,9.1,10.4,...,10.9,7.4,6.9,11.0,10.2,9.3,10.4,10.0,10.9,9.2
5,4/1/2020,8.8,7.8,18.4,9.7,9.0,8.8,9.6,8.2,9.0,...,13.3,12.7,8.4,11.2,10.5,12.6,9.1,11.2,10.4,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,12/1/2000,9.7,10.1,11.4,13.5,13.3,9.6,11.3,11.1,10.9,...,13.9,13.0,12.7,12.9,10.9,13.2,11.4,12.6,11.2,9.0
238,11/1/2000,9.7,9.7,11.1,13.3,12.9,9.1,10.9,12.1,10.6,...,13.7,12.6,12.8,12.7,10.4,13.2,11.5,12.3,11.3,8.6
239,10/1/2000,9.8,11.2,13.2,15.1,15.0,10.8,12.9,13.6,11.8,...,15.5,14.6,14.6,14.7,11.9,14.8,13.0,14.0,13.2,9.9
240,9/1/2000,9.9,10.0,12.3,13.1,13.7,10.1,11.8,11.8,10.5,...,14.0,13.1,12.7,13.3,10.6,13.3,11.5,12.5,11.6,8.8
241,8/1/2000,10.0,10.1,12.4,12.3,13.0,10.4,12.3,11.9,10.9,...,13.8,12.5,12.4,13.0,11.0,13.7,11.6,12.2,11.6,9.1

Cambio a nombres de header de tasa de desempleo a los mismos de data de delitos tipo 1

In [13]:
datasetTasaDespl.rename(
    columns={
        'Adjuntas NSA':'Adjuntas',
        'Aguada NSA':'Aguada',
        'Aguadilla NSA':'Aguadilla',	
        'Aguas Buenas NSA':'Aguas Buenas',	
        'Aibonito NSA':'Aibonito', 
        'Añasco NSA':'Añasco',	
        'Arecibo NSA':'Arecibo',	
        'Arroyo NSA':'Arroyo',	
        'Barceloneta NSA':'Barceloneta',	
        'Barranquitas NSA':'Barranquitas',	
        'Bayamon NSA':'Bayamón',	
        'Cabo Rojo NSA':'Cabo Rojo',	
        'Caguas NSA':'Caguas',	
        'Camuy NSA':'Camuy',	
        'Canovanas NSA':'Canóvanas',
        'Carolina NSA':'Carolina',
        'Catano NSA':'Cataño',
        'Cayey NSA':'Cayey',	
        'Ceiba NSA':'Ceiba',	
        'Ciales NSA':'Cielo',	
        'Cidra NSA':'Cidra',
        'Coamo NSA':'Coamo',	
        'Comerio NSA':'Comerío',	
        'Corozal NSA':'Corozal',	
        'Culebra NSA':'Culebra',	
        'Dorado NSA':'Dorado',	
        'Fajardo NSA':'Fajardo',	
        'Florida NSA':'Florida',	
        'Guanica NSA':'Guánica',	
        'Guayama NSA':'Guayama',	
        'Guayanilla NSA':'Guayanilla',
        'Guaynabo NSA':'Guaynabo',
        'Gurabo NSA':'Gurabo',
        'Hatillo NSA':'Hatillo',	
        'Hormigueros NSA':'Hormigueros',	
        'Humacao NSA':'Humacao',	
        'Isabela NSA':'Isabela',	
        'Jayuya NSA':'Jayuya',	
        'Juana Diaz NSA':'Juana Díaz',	
        'Juncos NSA':'Juncos',	
        'Lajas NSA':'Lajas',	
        'Lares NSA':'Lares',	
        'Las Marias NSA':'Las Marías',	
        'Las Piedras NSA':'Las Piedras',
        'Loiza NSA':'Loiza',	
        'Luquillo NSA':'Luquillo',	
        'Manati NSA':'Manatí',	
        'Maricao NSA':'Maricao',
        'Maunabo NSA':'Maunabo',	
        'Mayaguez NSA':'Mayagüez',	
        'Moca NSA':'Moca',	
        'Morovis NSA':'Morovis',	
        'Naguabo NSA':'Naguabo',	
        'Naranjito NSA':'Naranjito',	
        'Orocovis NSA':'Orocovis',	
        'Patillas NSA':'Patillas',	
        'Penuelas NSA':'Peñuelas',	
        'Ponce NSA':'Ponce',	
        'Quebradillas NSA':'Quebradillas',	
        'Rincon NSA':'Rincón',	
        'Rio Grande NSA':'Rio Grande',	
        'Sabana Grande NSA':'Sabana Grande',	
        'Salinas NSA':'Salinas',	
        'San German NSA':'San Germán',	
        'San Juan NSA':'San Juan',	
        'San Lorenzo NSA':'San Lorenzo',	
        'San Sebastian NSA':'San Sebastián',	
        'Santa Isabel NSA':'Santa Isabel',	
        'Toa Alta NSA':'Toa Alta',	
        'Toa Baja NSA':'Toa Baja',	
        'Trujillo Alto NSA':'Trujillo Alto',	
        'Utuado NSA':'Utuado',
        'Vega Alta NSA':'Vega Alta', 
        'Vega Baja NSA':'Vega Baja',	
        'Vieques NSA':'Vieques',	
        'Villalba NSA':'Villalba',	
        'Yabucoa NSA':'Yabucoa',	
        'Yauco NSA':'Yauco',
        'Mayaguez-San Germán, PR CSA NSA':'Mayaguez-San Germán, PR',
        'Ponce-Coamo-Santa Isabel, PR CSA NSA':'Ponce-Coamo-Santa Isabel, PR',	
        'San Juan-Carolina, PR CSA NSA':'San Juan-Carolina, PR',	
        'Adjuntas, PR MicroSA NSA':'Adjuntas, PR',	
        'Coamo, PR MicroSA NSA':'Coamo, PR',	
        'Coco, Salinas, PR MicroSA NSA':'Coco, Salinas, PR', 
        'Jayuya, PR MicroSA NSA':'Jayuya, PR',	
        'Santa Isabel, PR MicroSA NSA':'Santa Isabel, PR',
        'Aguadilla-Isabela, PR MSA NSA':'Aguadilla-Isabela, PR',	
        'Arecibo, PR MSA NSA':'Arecibo, PR',	
        'Guayama, PR MSA NSA':'Guayama, PR',	
        'Mayaguez, PR MSA NSA':'Mayagüez, PR',	
        'Ponce, PR MSA NSA':'Ponce, PR',	
        'San Germán, PR MSA NSA':'San Germán, PR',	
        'San Juan-Carolina-Caguas, PR MSA NSA':'San Juan-Carolina-Caguas, PR'}, 
    inplace=True)
datasetTasaDespl

,Date,Puerto Rico SA,Puerto Rico NSA,Adjuntas,Aguada,Aguadilla,Aguas Buenas,Aibonito,Añasco,Arecibo,...,"Coco, Salinas, PR","Jayuya, PR","Santa Isabel, PR","Aguadilla-Isabela, PR","Arecibo, PR","Guayama, PR","Mayagüez, PR","Ponce, PR",San Germán PR,"San Juan-Carolina-Caguas, PR"
1,8/1/2020,8.3,8.4,10.8,8.7,9.1,9.5,8.5,7.6,8.3,...,10.1,7.9,7.7,9.1,8.1,8.2,8.1,8.6,8.8,8.3
2,7/1/2020,8.5,7.3,9.4,7.6,8.1,8.3,7.5,6.6,7.5,...,8.6,6.8,6.8,8.0,7.2,7.2,7.1,7.4,7.5,7.1
3,6/1/2020,8.9,8.5,10.4,9.2,9.3,9.9,8.7,7.9,9.0,...,9.9,7.4,6.5,9.4,8.7,8.4,8.6,8.5,8.7,8.3
4,5/1/2020,9.0,9.6,11.7,11.1,10.5,11.1,9.4,9.1,10.4,...,10.9,7.4,6.9,11.0,10.2,9.3,10.4,10.0,10.9,9.2
5,4/1/2020,8.8,7.8,18.4,9.7,9.0,8.8,9.6,8.2,9.0,...,13.3,12.7,8.4,11.2,10.5,12.6,9.1,11.2,10.4,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,12/1/2000,9.7,10.1,11.4,13.5,13.3,9.6,11.3,11.1,10.9,...,13.9,13.0,12.7,12.9,10.9,13.2,11.4,12.6,11.2,9.0
238,11/1/2000,9.7,9.7,11.1,13.3,12.9,9.1,10.9,12.1,10.6,...,13.7,12.6,12.8,12.7,10.4,13.2,11.5,12.3,11.3,8.6
239,10/1/2000,9.8,11.2,13.2,15.1,15.0,10.8,12.9,13.6,11.8,...,15.5,14.6,14.6,14.7,11.9,14.8,13.0,14.0,13.2,9.9
240,9/1/2000,9.9,10.0,12.3,13.1,13.7,10.1,11.8,11.8,10.5,...,14.0,13.1,12.7,13.3,10.6,13.3,11.5,12.5,11.6,8.8
241,8/1/2000,10.0,10.1,12.4,12.3,13.0,10.4,12.3,11.9,10.9,...,13.8,12.5,12.4,13.0,11.0,13.7,11.6,12.2,11.6,9.1

Cambio a nombres de header de personas desempleadas a los mismos de data de delitos tipo 1

In [14]:
datasetPersDespl.rename(
    columns={
        'Adjuntas NSA':'Adjuntas',
        'Aguada NSA':'Aguada',
        'Aguadilla NSA':'Aguadilla',	
        'Aguas Buenas NSA':'Aguas Buenas',	
        'Aibonito NSA':'Aibonito', 
        'Añasco NSA':'Añasco',	
        'Arecibo NSA':'Arecibo',	
        'Arroyo NSA':'Arroyo',	
        'Barceloneta NSA':'Barceloneta',	
        'Barranquitas NSA':'Barranquitas',	
        'Bayamon NSA':'Bayamón',	
        'Cabo Rojo NSA':'Cabo Rojo',	
        'Caguas NSA':'Caguas',	
        'Camuy NSA':'Camuy',	
        'Canovanas NSA':'Canóvanas',
        'Carolina NSA':'Carolina',
        'Catano NSA':'Cataño',
        'Cayey NSA':'Cayey',	
        'Ceiba NSA':'Ceiba',	
        'Ciales NSA':'Cielo',	
        'Cidra NSA':'Cidra',
        'Coamo NSA':'Coamo',	
        'Comerio NSA':'Comerío',	
        'Corozal NSA':'Corozal',	
        'Culebra NSA':'Culebra',	
        'Dorado NSA':'Dorado',	
        'Fajardo NSA':'Fajardo',	
        'Florida NSA':'Florida',	
        'Guanica NSA':'Guánica',	
        'Guayama NSA':'Guayama',	
        'Guayanilla NSA':'Guayanilla',
        'Guaynabo NSA':'Guaynabo',
        'Gurabo NSA':'Gurabo',
        'Hatillo NSA':'Hatillo',	
        'Hormigueros NSA':'Hormigueros',	
        'Humacao NSA':'Humacao',	
        'Isabela NSA':'Isabela',	
        'Jayuya NSA':'Jayuya',	
        'Juana Diaz NSA':'Juana Díaz',	
        'Juncos NSA':'Juncos',	
        'Lajas NSA':'Lajas',	
        'Lares NSA':'Lares',	
        'Las Marias NSA':'Las Marías',	
        'Las Piedras NSA':'Las Piedras',
        'Loiza NSA':'Loiza',	
        'Luquillo NSA':'Luquillo',	
        'Manati NSA':'Manatí',	
        'Maricao NSA':'Maricao',
        'Maunabo NSA':'Maunabo',	
        'Mayaguez NSA':'Mayagüez',	
        'Moca NSA':'Moca',	
        'Morovis NSA':'Morovis',	
        'Naguabo NSA':'Naguabo',	
        'Naranjito NSA':'Naranjito',	
        'Orocovis NSA':'Orocovis',	
        'Patillas NSA':'Patillas',	
        'Penuelas NSA':'Peñuelas',	
        'Ponce NSA':'Ponce',	
        'Quebradillas NSA':'Quebradillas',	
        'Rincon NSA':'Rincón',	
        'Rio Grande NSA':'Rio Grande',	
        'Sabana Grande NSA':'Sabana Grande',	
        'Salinas NSA':'Salinas',	
        'San German NSA':'San Germán',	
        'San Juan NSA':'San Juan',	
        'San Lorenzo NSA':'San Lorenzo',	
        'San Sebastian NSA':'San Sebastián',	
        'Santa Isabel NSA':'Santa Isabel',	
        'Toa Alta NSA':'Toa Alta',	
        'Toa Baja NSA':'Toa Baja',	
        'Trujillo Alto NSA':'Trujillo Alto',	
        'Utuado NSA':'Utuado',
        'Vega Alta NSA':'Vega Alta', 
        'Vega Baja NSA':'Vega Baja',	
        'Vieques NSA':'Vieques',	
        'Villalba NSA':'Villalba',	
        'Yabucoa NSA':'Yabucoa',	
        'Yauco NSA':'Yauco',
        'Mayaguez-San Germán, PR CSA NSA':'Mayaguez-San Germán, PR',
        'Ponce-Coamo-Santa Isabel, PR CSA NSA':'Ponce-Coamo-Santa Isabel, PR',	
        'San Juan-Carolina, PR CSA NSA':'San Juan-Carolina, PR',	
        'Adjuntas, PR MicroSA NSA':'Adjuntas, PR',	
        'Coamo, PR MicroSA NSA':'Coamo, PR',	
        'Coco, Salinas, PR MicroSA NSA':'Coco, Salinas, PR', 
        'Jayuya, PR MicroSA NSA':'Jayuya, PR',	
        'Santa Isabel, PR MicroSA NSA':'Santa Isabel, PR',
        'Aguadilla-Isabela, PR MSA NSA':'Aguadilla-Isabela, PR',	
        'Arecibo, PR MSA NSA':'Arecibo, PR',	
        'Guayama, PR MSA NSA':'Guayama, PR',	
        'Mayaguez, PR MSA NSA':'Mayagüez, PR',	
        'Ponce, PR MSA NSA':'Ponce, PR',	
        'San Germán, PR MSA NSA':'San Germán, PR',	
        'San Juan-Carolina-Caguas, PR MSA NSA':'San Juan-Carolina-Caguas, PR'}, 
    inplace=True)
datasetPersDespl

,Date,Puerto Rico SA,Puerto Rico NSA,Adjuntas,Aguada,Aguadilla,Aguas Buenas,Aibonito,Añasco,Arecibo,...,"Coco, Salinas, PR","Jayuya, PR","Santa Isabel, PR","Aguadilla-Isabela, PR","Arecibo, PR","Guayama, PR","Mayagüez, PR","Ponce, PR","San Germán, PR","San Juan-Carolina-Caguas, PR"
1,2020-08,86123,88480,417.0,978.0,1261.0,594.0,517.0,642.0,1974.0,...,669.0,304.0,570.0,7372.0,4216.0,1523.0,2075.0,7589.0,2888.0,59237.0
2,2020-07,87804,75757,348.0,854.0,1115.0,516.0,451.0,547.0,1767.0,...,560.0,253.0,474.0,6410.0,3728.0,1320.0,1812.0,6437.0,2418.0,50612.0
3,2020-06,92311,90194,395.0,1058.0,1307.0,629.0,527.0,671.0,2167.0,...,648.0,282.0,515.0,7708.0,4555.0,1582.0,2225.0,7538.0,2878.0,60277.0
4,2020-05,93122,97038,435.0,1220.0,1397.0,673.0,545.0,741.0,2352.0,...,694.0,267.0,530.0,8660.0,5078.0,1677.0,2610.0,8563.0,3455.0,63425.0
5,2020-02,92713,80739,763.0,1096.0,1232.0,550.0,583.0,689.0,2054.0,...,876.0,515.0,744.0,9190.0,5368.0,2375.0,2316.0,9982.0,3431.0,43319.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2000-12,127800,114426,567.0,1687.0,2401.0,730.0,802.0,1000.0,3058.0,...,998.0,495.0,820.0,12488.0,6030.0,2609.0,3816.0,12913.0,4469.0,67176.0
236,2000-11,124955,114038,516.0,1686.0,2348.0,734.0,773.0,980.0,3157.0,...,1036.0,504.0,850.0,12382.0,6165.0,2664.0,3864.0,12974.0,4548.0,66478.0
237,2000-10,123946,127720,560.0,1853.0,2616.0,818.0,850.0,1032.0,3493.0,...,1119.0,589.0,932.0,13738.0,6817.0,2975.0,4252.0,14430.0,5014.0,75071.0
238,2000-09,124514,123815,550.0,1842.0,2562.0,780.0,819.0,1145.0,3423.0,...,1116.0,563.0,911.0,13609.0,6581.0,2991.0,4314.0,13971.0,5083.0,71936.0
239,2000-08,126337,143362,660.0,2079.0,2987.0,934.0,983.0,1290.0,3814.0,...,1280.0,647.0,1060.0,15789.0,7525.0,3391.0,4891.0,16082.0,6004.0,83476.0